* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.guess {
  font-size: 35px;
  color: white;
  text-align: center;
  /* margin-left: 20px; */
  margin-top: 150px;
}

#count-down {
  font-size: 25px;
  color: red;
  margin-top: 30px;
  text-align: center;
}

#dashes {
  height: 200px;
  text-align: center;
  color: white;
  /* margin-left: 25px; */
  margin-top: 30px;
  font-size: 50px;
}

.alphabtn {
  background-color: burlywood;
  border: 2px solid rgb(61, 120, 230);
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  color: red;
  text-align: center;
  height: 40px;
  padding: 30px;
}

.hangman {
  font-size: 60px;
  text-align: center;
  color: rgb(61, 120, 230);
}

#count {
  margin-left: 10px;
}
